version: '3.7'

volumes:
  data:
services:
  backend:
    build:
      context: .
      args:
        uid: ${UID}
    env_file:
      - .env
    volumes:
      - '.:/app'
    ports:
      - '9229:9229'
      - '3333:3333'
    command: sh -c "yarn install && yarn dev:server"
